header{
    text-align: center;
    height: 13vw;
}
body{
    /*padding-top: 0;*/
    /*border-top: 0;*/
    min-height: 100vh;
    box-sizing: border-box;
	margin: 0;
	/*height: 100%;*/
	/*width: 100%;*/
	display: flex;
  flex-direction: column;
}

.row{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-left: 1em;
	padding-right: 1em;
}

form{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 50%;
}

.dessert-div h3{
    font-size: 2em;
    margin-top: 10%;
    margin-bottom: 5%;
}

aside{
    margin-right: 1em;
    width: 20%;
}

article{
    padding-left: 1em;
    padding-right: 1em;
}

.recipe-links{
    margin-top: 5%;
    margin-bottom: 10%;
    list-style: none;
    padding-left: 0;
}

.inline-nav{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 1.5em;
}

.inline-nav li a{
    display: flex;
    flex-direction: column;
}
.inline-nav li{
    padding-left: .5em;
    padding-right: .5em;
    border-left: 1px solid black;
}
.inline-nav li:first-child{
    border-left: none;
    padding-left: 0;
}

header a{
    background-color: rgba(0, 0, 0, 0.2);
    /*font-weight: bold;*/
    color: rgb(255, 255, 255);
}
header a:hover{
    background-color: rgba(0, 0, 0, 0.2);
    font-weight: bold;
    size: 3em;
}

.dessert-div{
    text-align: center;
}

.inline-nav li img{
    height:6em;
    width:9em;
}

img:hover {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

/*.inline-nav li{*/
/*    background-image: url("../images/cake-small.jpg");*/
/*    background-position: center center;*/
/*    background-size: cover;*/
/*}*/

.center-wrapper{
    text-align: center;
}

.image-link{
    height:113px;
    width:220px;
}

.food h1{
    font-size: 3em;
    color: rgb(255,255,255);
    margin-top: 5px;
}

.reviews-div{
    border: 1px solid black;
    margin-bottom: 1em;
    /*background-color: #eee;*/
}

.review-div{
    border-bottom: 1px solid black;
    background-color: #eee;
    padding-left: 1em;
    margin-top: 0;
    padding-top: .2em;
}

#review-form{
    display: none;
}

.cake{
    background-image: url("./images/cake-md.jpg");
}
.pie{
    background-image: url("./images/pie-md.jpg");
}
.cup{
    background-image: url("./images/cup-md.jpg");
}
.cookies{
    background-image: url("./images/cookies-md.jpg");
}

.food{
    background-position: center center;
    background-size: cover;
}

footer{
    background-color: #eee;
    flex: 1;

}

